* {
    margin: 0;
}

body {
    font-family: 'DM Sans';
}

.container {
    padding: 20px 40px;
}

p {font-size: 17px}
h1 {font-size: 32px}

#distribution canvas {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 20px 0px;
}

#weatherForm {
    display: flex;
    flex-wrap: wrap;
}

#weatherForm input {
    font-family: 'DM Sans';
    font-size: 16px;
    padding: 3px 5px;
    margin: 0px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    max-width: 150px;
}

#weatherForm input[type=submit] {
    border: none;
    padding: 6px 14px;
    background: #3d6594;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
#weatherForm input::-webkit-outer-spin-button,
#weatherForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#weatherForm input[type=number] {
  -moz-appearance: textfield;
}

#tableOut {
    padding: 10px 5px;
}

#tableOut #overview,
#tableOut #diff-to-avg {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

#tableOut .item {
    width: 32%;
    text-align: center;
    padding: 15px 0px;
}

#tableOut .item.position {
    width: 19%;
}

#tableOut .item h3 {
    color: #3d6594;
}

#tableOut table {
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

#tableOut th {
    background-color: #3d6594;
    color: #fff;
}

#tableOut th, td {
    text-align: center;
    padding: 3px;
    border: 1px solid #a0adbd;
}

#tableOut tr:hover {
    background-color: #d8dde4;
    cursor: pointer;
}

#playerBoxModal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

.modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal-container {
    position: fixed;
    width: 80vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 25px;
    box-shadow: 2px 2px 6px 4px #555;
    padding: 10px;
}

.modal-container .exit {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: color 0.3s;
}

.modal-container .exit:hover {
    cursor: pointer;
    color: #f00;
}

.modal-container h3 {
    text-align: center;
    padding: 10px;
}

.modal-container table {
    width: 100%;
    border-collapse: collapse;
}

.modal-container table th {
    background-color: #3d6594;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3d6594;
    color: #fff;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 8px 6px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip:hover {
    cursor: default;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}